<div class="content">
  <div class="top-menu">
    <a class="btn" href="#">hello world</a>
    <a class="btn" href="#">hello world</a>
    <a class="btn" href="#">hello world</a>
    <a class="btn" href="#">hello world</a>
  </div>
  <div class="grid">
    <div class="menu">
      <app-menu></app-menu>
    </div>
    <div class="content">
      <h1>Procurement</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eum
        deleniti nobis reiciendis. Unde ducimus laudantium, sed libero
        exercitationem dicta itaque nesciunt voluptatibus reiciendis tempora
        corporis debitis quidem fuga voluptate.
      </p>
      <h2>Contact persons</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
        eveniet incidunt dolore voluptatum cum ea pariatur iste, sed natus
        aperiam similique blanditiis quos provident fuga reprehenderit tempore
        molestias, libero eius.
      </p>
      <h2>Documents</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, nemo
        nesciunt! Et autem alias tempore aspernatur vitae rerum consectetur
        tempora amet laboriosam dolor sint, adipisci totam, placeat itaque earum
        maxime?
      </p>
      <div class="form">
        <app-form></app-form>
      </div>
    </div>
  </div>
</div>
